  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Image -->
      <img class="masthead-avatar img-fluid rounded-circle mb-5" src="../../assets/img/allama-iqbal.jpg" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading mb-0">علامہ محمد اقبال</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">شاعرِ مشرق - مفکرِ پاکستان - مصورِ پاکستان - حکیم الامت - قلندرِ لاھوری</p>

    </div>
  </header>