  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">رائے</h4>
          <p class="lead mb-0">اپنی قیمتی رائے کا اظہار کرنے کے لیے یا غلطی کی اطلاع کے لیے مندرجہ ذیل لنکس پر رابطہ کریں۔</p>
          <a class="btn btn-outline-light btn-social mx-1" href="mailto:g.mohiuddin215@gmail.com">
            <i class="fab fa fa-envelope"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://m.me/g.mohiuddin16">
            <i class="fab fa-facebook-messenger"></i>
          </a>
        </div>
        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">سوشل میڈیا</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/g.mohiuddin16" target="_blank">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/gmohiuddin18" target="_blank">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-instagram"></i>
          </a>
        </div>
        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">تعارف</h4>
          <p class="lead mb-0">بندۂ ناچیز سافٹ ویئر انجینیرنگ کا طالب علم ہے۔ علامہ محمد اقبال سے نہایت محبت و عقیدت ہے۔ اسی محبت کی وجہ سے یہ ایپلیکیشن بنائی ہے۔ </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <p>کاپی رائٹ &copy; قلندرِ لاھوری {{year}}</p>
    </div>
  </section>