  <app-navbar></app-navbar>
  <!-- About Section -->
  <section class="page-section text-dark mb-0">
    <div class="container">

      <!-- About Section Heading -->
      <h1 class="page-section-mainheading text-center text-uppercase">تعارف</h1>

      <!-- Icon Divider -->
      <div class="divider-custom text-dark">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-md-6 ml-auto">
          <pre class="lead">
            پیدائشی نام: محمد اقبال
            تخلص: اقبال
              ولادت: 9 نومبر 1877ء، سیالکوٹ 
              وفات: 21 اپریل 1938ء، لاہور
              </pre>
        </div>
        <div class="col-md-6 mr-auto">
          <pre class="lead">تصانیف:
نثر:    علم الاقتصاد-1903
فارسی شاعری:    اسرار خودی-1915، رموز بے خودی-1917، پیام مشرق-1923، زبور عجم-1927، جاوید نامہ-1932، پس چہ باید کرد اے اقوامِ شرق-1936، ارمغان حجاز (فارسی)-1938
اردو شاعری:    بانگ درا-1924، بال جبریل-1935، ضرب کلیم-1936، ارمغانِ حجاز (اردو)-1938
انگریزی تصانیف:    فارس میں ماوراء الطبیعیات کا ارتقاء-1908، اسلام میں مذہبی افکار کی تعمیر نو-1930
             </pre>
        </div>
      </div>
      <div>
        <p>ڈاکٹر سر علامہ محمد اقبال بیسویں صدی کے ایک معروف شاعر، مصنف، قانون دان، سیاستدان، مسلم صوفی اور تحریک پاکستان کی اہم ترین شخصیات میں سے ایک تھے۔ اردو اور فارسی میں شاعری کرتے تھے اور یہی ان کی بنیادی وجۂ شہرت ہے۔ شاعری میں بنیادی رجحان تصوف اور احیائے امت اسلام کی طرف تھا۔علامہ اقبال کو دور جدید کا صوفی سمجھا جاتا ہے۔ بحیثیت سیاستدان ان کا سب سے نمایاں کارنامہ نظریۂ پاکستان کی تشکیل ہے جو انہوں نے 1930ء میں الہ آباد میں مسلم لیگ کے اجلاس کی صدارت کرتے ہوئے پیش کیا تھا۔ یہی نظریہ بعد میں پاکستان کے قیام کی بنیاد بنا۔ گو کہ انہوں نے اس نئے ملک کے قیام کو اپنی آنکھوں سے نہیں دیکھا لیکن انہیں پاکستان کے قومی شاعر کی حیثیت حاصل ہے۔ 
            علامہ نے ابتدائی تعلیم سیالکوٹ میں ہی حاصل کی اور مشن ہائی سکول سے میٹرک اور مرے کالج سیالکوٹ سے ایف اے کا امتحان پاس کیے۔ زمانہ طالبعلمی میں انھیں میر حسن جیسے استاد ملے جنہوں نے آپ کی صلاحیتوں کو بھانپ لیا۔ اور ان کے اوصاف خیالات کے مطابق آپ کی صحیح رہنمائی کی۔ شعر و شاعری کا شوق بھی آپ کو یہیں پیدا ہوا۔ اور اس شوق کو فروغ دینے میں مولوی میر حسن کا بڑا دخل تھا۔ ایف اے کرنے کے بعد آپ اعلیٰ تعلیم کے لیے لاہور چلے گئے اور گورنمنٹ کالج لاہور سے بی اے اور ایم اے کے امتحانات پاس کیے یہاں آپ کو پرفیسرآرنلڈ جیسے فاضل شفیق استاد مل گئے۔1905 میں علامہ اقبال اعلیٰ تعلیم کے لیے انگلستان چلے گئے اور کیمبرج یونیورسٹی میں داخلہ لے لیا اور پروفیسر براؤن جیسے فاضل اساتذہ سے رہنمائی حاصل کی ۔ بعد میں آپ جرمنی چلے گئے جہاں میونخ یونیورسٹی سے آپ نے فلسفہ میں پی ایچ ڈی کی ڈگری حاصل کی۔
            ابتداء میں آپ نے ایم اے کرنے کے بعد اورینٹل کالج لاہور میں تدریس کے فرائض سرانجام دیئے لیکن آپ نے بیرسٹری کو مستقل طور پر اپنایا۔ وکالت کے ساتھ ساتھ آپ شعروشاعری بھی کرتے رہے۔ 1926ء میں آپ پنجاب لیجسلیٹو اسمبلی کے ممبر چنے گئے۔ آپ آزادی وطن کے علمبردار تھے۔ سیاسی تحریکوں میں حصہ لیتے تھے۔ مسلم لیگ میں شامل ہوگئے اور آل انڈیا مسلم لیگ کے صدر منتخب ہوئے آپ کا الہ آباد کا مشہور صدارتی خطبہ تاریخی حیثیت رکھتا ہے اس خطبے میں آپ نے پاکستان کا تصور پیش کیا۔ 1931ء میں آپ نے گول میز کانفرنس میں شرکت کرکے مسلمانوں کی نمائندگی کی۔ آپ کی تعلیمات اور قائداعظم کی ان تھک کوششوں سے ملک آزاد ہوگیا اور پاکستان معرض وجود میں آیا۔ لیکن پاکستان کی آزادی سے پہلے ہی علامہ انتقال کر گئے تھے۔ لیکن ایک عظیم شاعر اور مفکر کے طور پر قوم ہمیشہ ان کی احسان مند رہے گی۔ جس نے پاکستان کا تصور پیش کرکے برصغیر کے مسلمانوں میں جینے کی ایک نئی آس پیدا کی۔
            شاعر مشرق علامہ اقبال حساس دل و دماغ کے مالک تھے آپ کی شاعری زندہ شاعری ہے جو ہمیشہ مسلمانوں کے لیے مشعل راہ بنی رہے گی۔ یہی وجہ ہے کہ کلام اقبال دنیا کے ہر حصے میں پڑھا جاتا ہے اور مسلمانان عالم اسےبڑی عقیدت کے ساتھ زیر مطالعہ رکھتے اور ان کے فلسفے کو سمجھتے ہیں۔ اقبال نے نئی نسل میں انقلابی روح پھونکی اور اسلامی عظمت کو اجاگر کیا۔ ان کے کئی کتابوں کے انگریزی ، جرمنی ، فرانسیسی، چینی ، جاپانی اور دوسرے زبانوں میں ترجمے ہو چکے ہیں۔ جس سے بیرون ملک بھی لوگ آپ کے متعرف ہیں۔ بلامبالغہ علامہ اقبال ایک عظیم مفکر مانے جاتے ہیں۔‎
           </p>
      </div>
    </div>
  </section>
  <app-footer></app-footer>