  <app-navbar></app-navbar>
  <app-header></app-header>
  <!-- Bookshelf Section -->
  <section class="page-section portfolio" id="bookshelf">
    <div class="container">

      <!-- Booksshelf Section Heading -->
      <h1 class="page-section-mainheading text-center text-uppercase text-secondary mb-0">کتب</h1>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <h3 class="page-section-heading text-center text-uppercase text-secondary mb-5">اردو کلام</h3>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Urdu Books Grid Items -->
      <div class="row">
        
        <!-- Book Item 1 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 3]">
          <div class="portfolio-item mx-auto">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/urbook1.jpg" alt="">
          </div>
        </a>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 2]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/urbook2.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 4]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/urbook3.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 1]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/urbook4.jpg" alt="">
          </div>
          </a>
        </div>
      </div>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <h3 class="page-section-heading text-center text-uppercase text-secondary mb-5">فارسی کلام</h3>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
      
      <!--Persian Books Grid Items -->
      <div class="row">
        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 6]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook1.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 11]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook2.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 7 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 9]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook3.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 8 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 10]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook4.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 9 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 7]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook5.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 10 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 8]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook6.jpg" alt="">
          </div>
          </a>
        </div>

        <!-- Portfolio Item 11 -->
        <div class="col-md-6 col-lg-4">
          <a [routerLink]="['/list', 5]">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#bookshelfModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-book-reader fa-2x"><span class="read"> پڑھیں</span></i>
              </div>
            </div>
            <img class="img-fluid" src="../../assets/img/books/frbook7.jpg" alt="">
          </div>
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>
  <app-footer></app-footer>